nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  padding-right: 10px;
  list-style: none;
  min-width: 400px;
}
section {
  min-height: 100vh;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --color-bg-container: rgba(255, 255, 255, 0.2);
}
